<div class="app-main px-2 py-2">
  <div id="breadcrumbs">
    <%#= render 'layouts/lte/partials/breadcrumbs' %>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div id="flash">
        <%= render 'layouts/lte/partials/flash' %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </section>
</div>
