

<%#= turbo_frame_tag 'test_frame' do %>
  <%#= render 'web/home/test_frame' %>
<%# end %>

<%#= turbo_frame_tag 'content_frame' do %>
  <%= render 'web/home/content_frame' %>
<%# end %>

<!--<div style="margin-top: 20px;">-->
  <%#= link_to "Обновить все фреймы (вне фреймов)", root_path, class: "btn btn-secondary", data: { turbo_method: :get, turbo_stream: true } %>
<!--</div>-->