<% model_var = resource_name %>
FactoryBot.define do
  factory :<%= model_var %>, class: '<%= class_name %>' do
    label { Faker::Commerce.unique.product_name }
    association :creator, factory: :user

    trait :discarded_<%= model_var %> do
      discarded_at { 1.hour.ago }
    end

    to_create { |instance| instance.save(validate: false) }
  end
end
